---
import { Image } from "astro:assets";
import type { Images } from "types/imagesResponse";

interface Props {
  title: string;
  images?: Images | null;
}

const images = Astro.props.images;
const title = Astro.props.title;
---

<div class="container mx-auto px-4 py-4">
  <h2 class="dark:text-neutral-50 text-2xl font-bold mb-1">
    {title}
  </h2>
  <div
    id="explore-image-container"
    class="flex flex-wrap justify-center gap-2 py-2"
  >
    {
      images?.map((image) => {
        return (
          <button
            id={image.id}
            class="group relative h-56 rounded shadow transition hover:z-10 hover:scale-125 hover:shadow-lg motion-reduce:hover:scale-105"
          >
            <Image
              src={image.urls.small}
              alt={image.alt_description}
              class="h-full object-cover"
              width={180}
              height={120}
              loading={"eager"}
            />
            <div class="absolute left-0 top-0 flex size-full flex-col items-start justify-end bg-black/25 p-2 opacity-0 transition-opacity group-hover:opacity-100">
              <p
                class=" mb-2 line-clamp-2 justify-start text-ellipsis text-left text-xs text-white opacity-90"
                title={image.description ?? ""}
              >
                {image.description}
              </p>
              <a
                href={image.user.links.html}
                class="z-20 font-semibold text-white"
                target="_blank"
              >
                <Image
                  src={image.user.profile_image.medium}
                  class="mr-1 inline-block h-8 rounded-full"
                  alt={image.user.first_name}
                  width={32}
                  height={32}
                  loading={"eager"}
                />
                {image.user.first_name}
              </a>
            </div>
          </button>
        );
      })
    }
  </div>
</div>
